/* universal selector */
*{
    margin: 0;
    padding: 0;
}
#container{
    height: 50px;
    width: 60px;
    background-color: green;
    color: white;
    margin-top: 40px;
    margin-left: 40px;
    padding-top: 20px;
    padding-left: 20px;
    /* margin: 10px;
    padding: 10px; */
}