h1 {
    color: red;
    text-align: center;
    /* text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: green;
    text-decoration-style: solid;
    */
    text-decoration: underline 5px green dashed;
    text-underline-offset: 10px;
    text-transform: uppercase;

    /* text-shadow: horizontal vertical blur color; */
    text-shadow: 2px 2px 5px greenyellow;

}

p {
    color: rgb(0, 200, 0);
    text-align: justify;
    letter-spacing: 2px;
    word-spacing: 10px;
    line-height: 25px;

}